.about-box {
    width: 90%;
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    box-shadow: 0 0 25px #0ff;
    color: white;
}

.info-card {
    margin: 20px 0;
    padding: 15px;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px #0ff inset;
}