/* MATRIX BACKGROUND */
body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Courier New", monospace;
    background: black;
    color: #00ff66;
}

#matrixCanvas {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/* TERMINAL CONTAINER */
.terminal {
    position: relative;
    z-index: 10;
    width: 95%;
    max-width: 1100px;
    margin: auto;
    padding-top: 30px;
}

/* TITLE */
.title {
    text-align: center;
    font-size: 26px;
    color: #00ff99;
    margin-bottom: 25px;
    text-shadow: 0 0 8px #00ff99;
}

/* SECTION */
.section {
    margin-bottom: 35px;
    background: rgba(0, 40, 0, 0.5);
    border: 1px solid #004400;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px #003300 inset;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #00ff99;
    text-shadow: 0 0 8px #00ff99;
}

/* INFO BOX */
.info-box p {
    margin: 5px 0;
}

.info-box span {
    color: #44ff88;
}

/* TABLE */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.user-table th {
    color: #00ff99;
    text-align: left;
    border-bottom: 2px solid #008822;
    padding: 8px;
}

.user-table td {
    padding: 8px;
    border-bottom: 1px solid #005511;
}

.user-table tr:hover {
    background: rgba(0, 100, 0, 0.2);
}

/* BUTTONS */
.btn {
    padding: 5px 10px;
    background: #004400;
    border: 1px solid #00ff44;
    color: #00ff66;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
}

.btn:hover {
    background: #008833;
}

.btn.danger {
    border-color: #ff4444;
    color: #ff5555;
}

.btn.danger:hover {
    background: #880000;
}

.btn.warn {
    border-color: yellow;
    color: yellow;
}

.locked {
    color: #888;
}

.tools {
    display: flex;
    gap: 15px;
}

.tool {
    flex: 1;
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 20px;
    color: #009944;
    font-size: 14px;
    opacity: 0.8;
}

.chart {
    width: 100%;
    height: 160px;
    margin: 20px 0;
    background: rgba(0, 255, 0, 0.05);
    border: 1px solid #0f0;
    border-radius: 6px;
}