/* ===== HEADER ===== */
.header-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
}

.header-edit a {
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #00ffff;
    color: #00ffff;
    transition: .3s;
}

.header-edit a:hover {
    background: #00ffff;
    color: #000;
}

.edit-title {
    color: #fff;
    text-shadow: 0 0 12px #ff00ff;
}

/* ===== COVER ===== */
.cover-area {
    width: 100%;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.cover-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

/* ===== FOTO PROFIL ===== */
.photo-area {
    margin-top: -60px;
    text-align: center;
}

.photo-area img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #00ffff;
    box-shadow: 0 0 20px #00ffff, 0 0 30px #ff00ff;
    cursor: pointer;
}

/* ===== FORM ===== */
.edit-box {
    padding: 25px;
    color: #fff;
}

label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 10px;
    border: 1px solid #00ffff;
    background: rgba(255,255,255,0.1);
    color: #00ffff;
}

textarea {
    resize: none;
    height: 80px;
}

.btn-save {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #ff00dd, #00ffff);
    border: none;
    border-radius: 12px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 20px #ff00dd;
    transition: .3s;
}

.btn-save:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 35px #00ffff;
}