/* FULL SCREEN LOADING OVERLAY */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

/* ANIMASI LINGKARAN */
.loading-spinner {
    width: 60px;
    height: 60px;
    border: 5px solid #444;
    border-top: 5px solid #0affff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 15px;
    color: #0affff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 8px #0affff;
}