body {
    margin: 0;
    background: #111;
    color: #fff;
    font-family: Arial;
}

.player-wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.playlist {
    width: 40%;
    background: #222;
    padding: 10px;
    border-radius: 10px;
    height: 90vh;
    overflow-y: auto;
}

.track {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
}

.track.playing {
    background: #008cff;
}

.player {
    width: 60%;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    height: 90vh;
}

.controls button {
    font-size: 20px;
    margin: 5px;
}

.bar {
    width: 100%;
    height: 6px;
    background: #555;
    border-radius: 5px;
    overflow: hidden;
}

#progress {
    height: 6px;
    width: 0%;
    background: #00ffea;
}