.page-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(8px);
}

.page-title {
    color: #fff;
    text-shadow: 0 0 12px #00ffff;
}

/* Container */
.mp3-container {
    padding: 25px;
}

/* List Musik */
.mp3-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mp3-item {
    background: rgba(255,255,255,0.08);
    padding: 12px 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}

.mp3-item:hover {
    border-color: #00ffff;
    box-shadow: 0 0 12px #00ffff55;
    transform: translateX(4px);
}

.mp3-item.active {
    border-color: #ff00ff;
    box-shadow: 0 0 14px #ff00ffaa;
    background: rgba(255,0,255,0.08);
    transform: translateX(6px);
}

.mp3-icon {
    width: 40px;
    filter: drop-shadow(0 0 6px #00ffff);
}

.song-name {
    color: #fff;
    font-size: 15px;
    word-break: break-all;
}

/* Player */
.player-box {
    display: none;
    background: rgba(0,0,0,0.75);
    padding: 15px;
    width: 100%;
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
}

audio {
    width: 100%;
    border-radius: 10px;
}