body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Neon Canvas */
#neon-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Background neon bubble */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background: radial-gradient(circle at 20% 30%, rgba(0,255,0,0.25), transparent),
                radial-gradient(circle at 80% 70%, rgba(0,200,255,0.25), transparent),
                radial-gradient(circle at 50% 10%, rgba(255,0,255,0.25), transparent),
                radial-gradient(circle at 40% 80%, rgba(255,255,0,0.18), transparent);

    animation: moveBg 8s infinite alternate;
    z-index: -1;
}

@keyframes moveBg {
    0% { transform: scale(1); }
    100% { transform: scale(1.3); }
}

.container {
    width: 90%;
    max-width: 370px;
    padding: 25px;
    border-radius: 18px;
    text-align: center;

    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(14px);

    border: 2px solid rgba(0, 255, 150, 0.6);
    box-shadow: 
        0 0 22px rgba(0, 255, 150, 0.6),
        0 0 40px rgba(0,200,255,0.25);
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0 0 12px #00ff99;
}

/* Input box neon */
input {
    width: 100%;
    padding: 12px;
    margin-top: 14px;
    border: none;
    border-radius: 10px;

    background: rgba(255,255,255,0.08);
    color: #fff;

    box-shadow: inset 0 0 10px rgba(0,255,150,0.5);
}

input:focus {
    outline: 2px solid #00ff99;
    box-shadow: 0 0 18px #00ffaa;
}

/* Password box dengan icon */
.pw-box {
    position: relative;
}

.toggle-pass {
    position: absolute;
    right: 14px;
    top: 16px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}

.toggle-pass:hover {
    opacity: 1;
    transform: scale(1.2);
}

button {
    width: 100%;
    margin-top: 18px;
    padding: 12px;

    background: linear-gradient(90deg, #00ff88, #00eaff, #d400ff);
    background-size: 300%;
    animation: btnGlow 5s linear infinite;

    color: #000;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;

    box-shadow: 0 0 15px #00ff88;
    transition: 0.2s;
}

@keyframes btnGlow {
    0% { background-position: 0%; }
    100% { background-position: 300%; }
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 22px #00ffaa;
}

.login-link {
    margin-top: 16px;
    color: #fff;
}

.login-link a {
    color: #00ffcc;
    text-decoration: none;
    text-shadow: 0 0 10px #00ffee;
}