<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <!-- Neon -->
    <link rel="stylesheet" href="/static/css/neon.css">
    <script src="/static/js/neon.js" defer></script>

    <!-- Style Form -->
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>

<div class="form-box" style="border-color:#f0f; box-shadow:0 0 25px #f0f;">
    <h2 style="color:#f0f;">Register</h2>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Buat Username">
        <input type="password" name="password" placeholder="Buat Password">
        <button type="submit" style="background:#f0f;">Daftar</button>
    </form>

    <p style="margin-top:10px; color:#f0f;">
        Sudah punya akun? <a href="/login" style="color:#f0f;">Login</a>
    </p>
</div>

</body>
</html>