{% extends "base.html" %}

{% block title %}Daftar Akun - BAGUS MEDIA SERVER{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<div class="register-container">

    <h1 class="register-title">Daftar Akun</h1>

    <form action="/register" method="POST" class="register-form">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="register-btn">Daftar</button>

    </form>

    <p class="login-link">
        Sudah punya akun? <a href="/login">Masuk</a>
    </p>

</div>
{% endblock %}

{% block script %}
<script src="/static/Js/register.js"></script>
{% endblock %}