{% extends "base.html" %}

{% block title %}Selamat Datang - BAGUS MEDIA SERVER{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/splash.css">
{% endblock %}

{% block content %}
<div class="splash-container">
    <img src="{{ url_for('static', filename='icon/splash.png') }}" class="splash-logo">

    <h1 class="splash-title">BAGUS MEDIA SERVER</h1>
    <p class="splash-desc">Selamat datang di server media pribadi Anda</p>

    <a href="/login" class="splash-btn">Masuk</a>
</div>
{% endblock %}

{% block script %}
<script src="/static/Js/splash.js"></script>
{% endblock %}